/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-May-2017, 2:21:39 PM
    Author     : Yang
*/

.panel{
    background-color:black;
    height:450px;
    width:310px;
    border-radius:20px;
}
.keyPad{
    width:310px;
    height:350px;
    top:100px;
    position:relative;
}
.buttons{
    height:70px;
    width:70px;
    margin:2px;
    border-radius:15px;
    border: none;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    background: -webkit-linear-gradient(top, #c7cacc, #2c2d2d);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:130%;
}
.buttons:hover,.specialButtons:hover {
    
    background: -webkit-linear-gradient(top, #949da3, #000000);
    background: -moz-linear-gradient(top, #949da3, #000000);
    background: -ms-linear-gradient(top, #949da3, #000000);
    background: -o-linear-gradient(top, #949da3, #000000);
    border-top-color: #28597a;
}

.buttons:active,.specialButtons:active {
    border-top-color: #28597a;
   background: -webkit-linear-gradient(top, #949da3, #000000);
    background: -moz-linear-gradient(top, #949da3, #000000);
    background: -ms-linear-gradient(top, #949da3, #000000);
    background: -o-linear-gradient(top, #949da3, #000000);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.display{
    height:90px;
    width:300px;
    left:13px;
    top:35px;
    background: -webkit-linear-gradient(top, #65a9d7, #dae2e8);
    background: -moz-linear-gradient(top, #dddddd, #dae2e8);
    background: -ms-linear-gradient(top, #dddddd, #dae2e8);
    background: -o-linear-gradient(top, #dddddd, #dae2e8);
    background-color:gray;
    position:absolute;
    border-radius:25px;
    
}
p{
    text-align:right;
    font-family: "Arial", cursive, sans-serif;
    font-size:160%;
}

.specialButtons{
    height:50px;
    width:70px;
    margin:2px;
    border:none;
    border-radius:17px;
    background: -webkit-linear-gradient(top, #c7cacc, #2c2d2d);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:130%;
}
.infoBoard{
    
    background-color:greenyellow;
    float:left;
    height:300px;
    width:200px;
    margin-left:350px;
    margin-top:-350px;
    text-align:center;
    border-radius:30px;
    background: -webkit-linear-gradient(bottom, #65a9d7, #dae2e8);
   background: -moz-linear-gradient(bottom, #dddddd, #dae2e8);
   background: -ms-linear-gradient(bottom, #dddddd, #dae2e8);
   background: -o-linear-gradient(bottom, #dddddd, #dae2e8);
}
